.bg--dark-gray{
    background-color: #454343;
}

.bg--white{
    background: rgb(235, 235, 235);
}

.bg--purple{
    background-color: #583E7A;
}

.bg--violet{
    background-color: rgb(180, 126, 231);
}

.bg--dark-blue{
    background: #2F769E;
}

.bg--gold-yellow{
    background: #D3CC1F;
}

.bg--orange{
    background: #F9C38A;
}
.bg--brown{
    background: #9A5625;
}

.bg--blue-green{
    background: #3DA6A6;
}


.txt--white{
    color: white;
}

.txt--black{
    color:black;
}

.bg--violet-gradient{
    background: rgb(198,82,237);
    background: linear-gradient(0deg, rgba(198,82,237,0.8603816526610644) 0%, rgba(242,242,242,1) 100%);
}

.bg--red-gradient{
    background: rgb(255,231,231);
    background: linear-gradient(180deg, rgba(255,231,231,1) 0%, rgba(250,222,222,1) 0%, rgba(221,114,114,1) 74%);
}

.bg--red-solid{
    background: rgb(166, 61, 61);
}

.bg--lightpurple-gradient{
    background: rgb(255,229,242);
    background: linear-gradient(180deg, rgba(255,229,242,1) 0%, rgba(250,220,235,1) 0%, rgba(218,133,176,1) 74%);
}

.bg--lightpurple-solid{
    background: rgb(205, 49, 124);
}

.bg--lightblue-gradient{
    background: rgb(234,231,255);
    background: linear-gradient(180deg, rgba(234,231,255,1) 0%, rgba(229,225,253,1) 0%, rgba(151,142,214,1) 74%);
}

.bg--lightblue-solid{
    background: rgb(68, 49, 205);
}

.bg--green-gradient{
    background: rgb(235,254,228);
    background: linear-gradient(180deg, rgba(235,254,228,1) 0%, rgba(222,250,223,1) 0%, rgba(114,221,125,1) 74%);
}

.bg--green-solid{
    background: rgb(61, 166, 78);
}

