.gradient-blue{
    background: rgb(36,110,221);
    background: linear-gradient(165deg, rgba(36,110,221,1) 0%, rgba(23,154,224,1) 30%, rgba(21,213,255,1) 100%);
}

.gradient-green{
    background: rgb(8,178,76);
    background: linear-gradient(165deg, rgba(8,178,76,1) 0%, rgba(55,186,107,1) 30%, rgba(155,239,90,1) 100%);
}

.gradient-violet{
    background: rgb(95,15,133);
    background: linear-gradient(165deg, rgba(95,15,133,1) 0%, rgba(162,31,224,1) 30%, rgba(236,90,239,1) 100%);
}

.gradient-dark-green{
    background: rgb(8,139,61);
    background: linear-gradient(165deg, rgba(8,139,61,1) 0%, rgba(22,161,61,1) 30%, rgba(21,255,199,1) 100%);
}

.gradient-red{
    background: rgb(214,59,49);
    background: linear-gradient(165deg, rgba(214,59,49,1) 0%, rgba(240,53,53,1) 30%, rgba(248,128,111,1) 100%);
}

.gradient-dark-blue{
    background: rgb(14,23,238);
    background: linear-gradient(165deg, rgba(14,23,238,1) 0%, rgba(53,72,240,1) 30%, rgba(111,141,248,1) 100%);
}

.gradient-yellow{
    background: rgb(224,190,67);
    background: linear-gradient(165deg, rgba(224,190,67,1) 0%, rgba(229,198,32,1) 30%, rgba(241,216,126,1) 100%);
}

.gradient-turquoise{
    background: rgb(5,170,160);
    background: linear-gradient(165deg, rgba(5,170,160,1) 0%, rgba(71,203,179,1) 30%, rgba(111,248,215,1) 100%);
}